BFNA2X_0928/MA_ertodtd.dtd

<!ELEMENT MAmodell (A+,B+,C,ABc+)>
<!ELEMENT A (Ab+,Ac)>
<!ATTLIST A Aa ID #REQUIRED>
<!ELEMENT Ab (Ax,Ay)>
<!ELEMENT Ax (#PCDATA)>
<!ELEMENT Ay (#PCDATA)>
<!ELEMENT Ac (Ad,Ae)>
<!ELEMENT Ad (#PCDATA)>
<!ELEMENT Ae (#PCDATA)>
<!ELEMENT B (Bb)>
<!ATTLIST B Ba ID #REQUIRED>
<!ELEMENT Bb (Bv,Bx)>
<!ELEMENT Bv (#PCDATA)>
<!ELEMENT Bx (#PCDATA)>
<!ELEMENT ABc (#PCDATA)>
<!ELEMENT C (Cb)>
<!ATTLIST C Ca ID #REQUIRED>
<!ELEMENT Cb (#PCDATA)>